# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.venv/
.env

# Node / React Native / Expo
node_modules/
npm-debug.log
yarn-error.log
.expo/
.expo-shared/
dist/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.cache/